.slider {
  height: 15px;
  display: flex;
  width: 100%;
  user-select: none;

  .slider-track {
    height: 5px;
    width: 100%;
    border-radius: 4px;
    background: #ddd;
    align-self: center;
    position: relative;

    .slider-bar {
      position: absolute;
      height: 100%;
      background-color: #5a74ff;

      &.draggable {
        cursor: ew-resize;
      }
    }

    .slider-thumb {
      cursor: grab;
      position: absolute;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #5a74ff;
      box-shadow: rgb(170 170 170) 0px 1px 3px;

      &.dragged {
        cursor: grabbing;
      }
    }
  }
}
