$track-color: #ddd;
$bar-color: #5a74ff;
$thumb-shadow-color: #aaaaaa;

.slider {
  $slider: &;
  height: 15px;
  display: flex;
  width: 100%;
  user-select: none;

  &__track {
    height: 5px;
    width: 100%;
    border-radius: 4px;
    background: $track-color;
    align-self: center;
    position: relative;

    #{$slider}__bar {
      position: absolute;
      height: 100%;
      background-color: $bar-color;

      &.draggable {
        cursor: ew-resize;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 25px;
          top: -10px;
        }
      }
    }

    #{$slider}__thumb {
      cursor: grab;
      position: absolute;
      height: 11px;
      width: 11px;
      top: -3px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid $bar-color;
      box-shadow: $thumb-shadow-color 0 1px 3px;
      display: flex;
      justify-content: center;

      &__label {
        position: relative;
        top: 100%;
      }

      &.dragged {
        cursor: grabbing;
      }

      &:hover,
      &.dragged {
        height: 15px;
        width: 15px;
        top: -5px;
        left: -3px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: -3px;
      }

      &:nth-of-type(odd) {
        &::after {
          left: -7px;
        }
      }

      &:nth-of-type(even) {
        &::after {
          right: -7px;
        }
      }
    }

    #{$slider}__mark {
      position: absolute;
      top: -5px;
      height: 15px;
      width: 0;
      border: 1px solid $track-color;
      display: flex;
      justify-content: center;

      &__label {
        position: relative;
        top: 100%;

        &.hidden {
          display: none;
        }
      }
    }
  }
}
